.e99_media_space{
    margin-top: 3rem;
    margin-left: 3rem;
}

.e99_hero_txt{
    font-size: 4rem;
    font-weight: bolder;
}

.e99_space_elements{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.e99_bg_trans{
    background-color: transparent;
}
.e99_bg_img{
    background-image: url(../Img/explore-digital-banner-greyscales.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}