.e99_space{
    padding-top: 1rem;
}

.e99_space_down{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;

}

.e99_center{
    align-items: center;
    justify-content: center;
}
.border-top{
    color: $color-secundario;
}